{% extends "header.html" %}
{% load staticfiles %}
{% block content %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50717888-1', 'pownews.dreamhosters.com');
  ga('send', 'pageview');

</script>
<div class="center">
<h1> news brought to you by the strongest collection of computers </h1>
<p> send a small donation to <b>1Aaykbf4iJ8d4UTh2LCjNGZyicqkFresdp</b> (btc) to support the project </p>
<br>
<p> submit a new link<br>
The hash is computed as follows sha256(link + "pownews" + nonce)
</p>
<form method="post" action="/pownews/addLink">
  <label for="link">link/text:</label>
  <input id="link" name="link" type="text" placHolder="type a link"></input>
  <label for="nonce">nonce:</label>
  <input id="nonce" name="nonce" type="text" value="0"></input>
  <button type="submit" class="btn btn-success">submit</button>
</form>
<script>
document.getElementById('link').focus()
</script>
<br>
<table class="table table-striped">
  <tr>
    <td>
      <b>link/text</b>
    </td>
    <td>
      <b>nonce</b>
    </td>
    <td>
      <b>hash</b>
    </td>
  </tr>
  {% for link in links %}
  <tr>
      <td><a href="{{link.link}}">{{link.link}}</td>
      <td>{{link.nonce}}</td>
      <td>sha256({{link.link}}pownews{{link.nonce}}) -> {{link.hash}}</td>
  </tr>
  {% endfor %}
</table>
</div>
<div style="padding-left: 30px;">
<h2>How it works</h2>
<p>
The link/text and nonce are concatenated in the following manner link + pownews + nonce and then thrown through sha256. The server displays the top five lowest hashes received in ascending order. You can submit your link and nonce by doing a post request to pownews.dreamhosters.com/pownews/addLink with the following object {"link": link, "nonce": nonce}.
</p>
<h2>Example Code</h2>
<p>
If you'd like to try to make it to the front page, here's a very basic example of python code that you can use to find a better hash <a href="http://pastebin.com/njMxXFQb">http://pastebin.com/njMxXFQb</a>
</p>
</div>
{% endblock %}
