{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Proof of Work News</title>
    <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src='{% static "js/main.js" %}'></script>
  </head>
  <body>
{% block content %}
{% endblock %}
  </body>
</html>
