{% extends "header.html" %}
{% load staticfiles %}
{% block content %}
<div class="center">
<h1> news brought to you by the strongest collection of computers </h1>
<p> send a small donation to <b>1Aaykbf4iJ8d4UTh2LCjNGZyicqkFresdp</b> to support the project </p>
<table class="table table-striped">
  <tr>
    <td>
        link
    </td>
    <td>
      nonce
    </td>
    <td>
      hash
    </td>
    <td>
      vote
    </td>
  </tr>
  {% for link in links %}
  <tr>
      <td>{{link.link}}</td>
      <td>{{link.nonce}}</td>
      <td>{{link.hash}}</td>
      <td><button class="btn btn-primary">contribute</button></td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}
