{% extends "header.html" %}
{% load staticfiles %}
{% block content %}
<div class="center">
<h1> news brought to you by the strongest collection of computers </h1>
<p> send a small donation to <b>1Aaykbf4iJ8d4UTh2LCjNGZyicqkFresdp</b> to support the project </p>
<br>
<p> submit a new link </p>
<form method="post" action="/pownews/addLink">
  <label for="link">link/text:</label>
  <input id="link" name="link" type="text" placHolder="type a link"></input>
  <label for="link">nonce:</label>
  <input id="nonce" name="nonce" type="text" value="0"></input>
  <button type="submit" class="btn btn-success">submit</button>
</form>
<br>
<table class="table table-striped">
  <tr>
    <td>
      <b>link/text</b>
    </td>
    <td>
      <b>nonce</b>
    </td>
    <td>
      <b>hash</b>
    </td>
  </tr>
  {% for link in links %}
  <tr>
      <td>{{link.link}}</td>
      <td>{{link.nonce}}</td>
      <td>{{link.hash}}</td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}
